*{
    font-family:'Roboto', sans-serif;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font: inherit;
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

}
.calc-wrapper{
    display: flex;
    flex-direction: column;
    height: 440px;
    width:320px;
    border-radius: 10px;
    background-color:#2f2d2e;
}
.calc-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 10px 0 10px;
}
.display-secondary,.display-main{
    width:300px;
    height: 60px;
}

.calc-buttons{
    display: flex;
    justify-content: space-evenly;
    align-content:space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin: 7px;
}
.calc-buttons button{
    height: 50px;
    width: 70px;
}
.calc-buttons button{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: white;
}
.calc-buttons .operator{
    background-color: #51668f;
    color: white;
}
.calc-buttons .operator svg{
    padding-top: 6px;
    width: 30px;
    height: 30px;
}
