*{
    font-family:'Roboto', sans-serif;
}
button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    font: inherit;
    cursor: pointer;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

}
.calc-wrapper{
    display: flex;
    flex-direction: column;
    height: 440px;
    width:320px;
    border-radius: 10px;
    background-color: #201f1f;
}
.calc-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px 10px 0 10px;
}
.display-secondary,.display-main{
    width:280px;
    height: 60px;
}
.display-main{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    color:white;
    font-size: 30px;
    font-weight: bold;
}
.display-secondary{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 10px;
    color:grey;
    font-size: 30px;
    font-weight: bold;
}
.calc-buttons{
    display: flex;
    justify-content: space-evenly;
    align-content:space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin: 7px;
}
.calc-buttons button{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #3275d1;
    color: white;
    height: 50px;
    width: 70px;
}
.calc-buttons .operator,.calc-buttons #dot{
    background-color: #26bbbf;
    color:black;
}
.calc-buttons .number:hover{
    background-color: #3781e6;
}
.calc-buttons .number:active{
    background-color: #255da8;
}
.calc-buttons .operator:hover,.calc-buttons #dot:hover{
    background-color: #3adce1;
}
.calc-buttons .operator:active,.calc-buttons #dot:active{
    background-color: #12a4aa;
}
.calc-buttons .operator svg{
    padding-top: 6px;
    width: 30px;
    height: 30px;
}
